{% extends 'base.html' %}
{% load static %}
{% block content  %} 


<div class="product-grid w-80" id="card-collection">

  {% for product in prods %}
  <div class="card shadow-sm" >
    <div class="card-img">
      <img class="" src="{{product.pic.url}}" alt="">
    </div>
    <div class="row card-body">
      <a href="{% url 'prod_details'  product.id  %}"><h6>{{product.name}}</h6></a> 
      <span>Rs. {{product.price}}</span>
      <a href="{% url 'add_to_cart' product.pk %}" class="btn">
        <button class="button " >Add To Cart</button></a>
    </div>

  </div>
  {% endfor %}
</div>

{% endblock %}