* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    header {
        position: fixed;
        color: white;
        height: 190px;
        top: 0px;
        width: 100%;
        z-index: 10;
        height: 30px;
        background-color: rgb(59, 13, 13);

        .navbar-brand{

            font-size: 1.80rem;
            font-weight: 900;
            color: white;
        }

        .navbar{

            background-color: rgb(66, 63, 227);
            color: white;
        }


        .nav-item{
          
            .nav-link{
                font-size: 0.80rem;
                color: white;
            }
        }

       
    }

    footer{
        background-color: lightslategray;
        height: 60px;
        font-weight: 700;
        p{
            background-color: lightslategray;
            margin-top:-25px;
        }
    }

    main {
        /* margin: 100px; */
        width: 100%;
        margin-top: 100px;
        margin-bottom: 20px;



        h1{

            z-index: 2;
            color: white;
            font-size: 4rem;
            text-align: center;
            font-weight: 900;
            
        }


        .hero{
            
            color: white;
            text-align: center;
           
        }
        /*  */

        /* Styling for home page */
        #carouselExampleAutoplaying{
            height: 110vh;
            width: 100%;
            z-index: -1;
            margin-top: -290px;


            .carousel-inner {
                overflow: hidden;
                height: 100%;
               


                .carousel-item {
                    height: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }




    }
}


.product-grid {
    margin-top: 60px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .card {
        width: 240px;
        height: 400px;
        /* margin: auto; */
        margin-top: 10px;
        border-radius:30px;
        
        .card-img {
            height: 65%;
            width: 100%;
           
            
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                background-color:white;
                padding:20px ;
                border-radius:30px;
            }
        }

        .card-body {
            a {
                margin: auto;
                width: 60%;
                height: 20px;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: black;
                justify-content: center;
                
            }

            .btn{
                /* background-color: aqua; */
                .button{
                    background-color: rgb(84, 85, 15);
                    color: white;
                    width: 120px;
                    height: 25px;
                    border-radius: 8px;
                    font-size: 0.80rem;
                }
            }
        }
    }
}

.container_fluid {
    .row {
        .col {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            .img {
                width: 100%;
                /* background-color: black; */

                img {
                    width: 50%;
                    aspect-ratio: 1/1;
                    object-fit: contain;
                }
            }
        }
    }
}

